$info-color: #5bc0de;
$success-color: #5cb85c;

/* Users Show Page Styles */

.user-show-avatar {

    display:block;
    margin: 20px auto auto 0;

}

.job-title-icon {
    
    display:inline-block;
    background-color: $info-color;
    border: 1px solid #46b8da;
    color: white;
    text-align: center;
    border-radius: 15%;
    margin-right: 15px;

}

.well.profile-block {
    
    h3 {
        margin-top: 0;
    }
    color: white;
    
}


.well.profile-description {
    background-color: $info-color;
    border-color: #46b8da;
    
}

.well.profile-contact {
    background-color: $success-color;
    border-color: #4cae4c;
}

/* Users Index Page Styles */

.user-index-avatar {
    
    width: 128px;
    height: auto;
    border-radius: 50%;
    
}

.white-bg {
    
    background:white;
    
}